mixin alumni(cohort)
  if cohort == 'winter2019'
    .cohort.clearfix
      h3 Healthcare Bootcamp Winter 2018-2019
      //- Alphabetical order
      +dp('Anuj Pareek', 'md')
      +dp('Chris Wang', 'bs')
      +dp('Jingbo Yang', 'bs')
      +dp('Mark Sabini', 'bs')
      +dp('Minh Phu', 'bs')
      +dp('Nathan Dass', 'ms')
  if cohort == 'fall2018'
    .cohort.clearfix
      h3 Healthcare Bootcamp Fall 2018-2019
      +dp('Alex Wang', 'bs')
      +dp('Amirhossein Kiani', 'ms')
      +dp('Amit Schechter', 'bs')
      +dp('Andrew Kondrich', 'bs')
      +dp('Bora Uyumazturk', 'bs')
      +dp('Chloe O\'Connell', 'md')
      +dp('Jason Li', 'bs')
      +dp('Nishit Asnani', 'ms')
      +dp('Rebecca Gao', 'md')
      +dp('Soumya Patro', 'ms')
  if cohort == 'spring2018'
    .cohort.clearfix
      h3 Healthcare Bootcamp Spring 2017-2018
      +dp('Behzad Haghgoo', 'bs')
      +dp('Ben Cohen-Wang', 'bs')
      +dp('Chris Chute', 'ms')
      +dp('Joe Lou', 'bs')
      +dp('Kelly Shen', 'ms')
      +dp('Meng Zhang', 'ms')
      +dp('Michael Ko', 'bs')
      +dp('Nidhi Manoj', 'bs')
      +dp('Philip Hwang', 'bs')
      +dp('Robin Cheong', 'bs')
      +dp('Silviana Ciurea Ilcus', 'ms')
      +dp('Yifan Yu', 'ms')
  if cohort == 'winter2018'
    .cohort.clearfix
      h3 Healthcare Bootcamp Winter 2017-2018
      +dp('Allison Park', 'ms')
      +dp('Andrew Huang', 'bs')
      +dp('Atli Kosson', 'ms')
      +dp('Chris Lin', 'ms')
      +dp('Erik Jones', 'bs')
      +dp('Henrik Marklund', 'ms')
      +dp('Jessica Wetstone', 'ms')
      +dp('Matthew Sun', 'bs')
      +dp('Michael Bereket', 'bs')
      +dp('Nicholas Bien', 'bs')
      +dp('Norah Borus', 'bs')
      +dp('Shubhang Desai', 'bs')
      +dp('Suvadip Paul', 'ms')
      +dp('Thao Nguyen', 'bs')
      +dp('Tanay Kothari', 'bs')
  if cohort == 'fall2017'
    .cohort.clearfix
      h3 Healthcare Bootcamp Fall 2017-2018
      +dp('Aarti Bagul', 'ms')
      +dp('Brandon Yang', 'bs')
      +dp('Daisy Ding', 'ms')
      +dp('Hershel Mehta', 'ms')
      +dp('Kaylie Zhu', 'bs')
      +dp('Tony Duan', 'ms')
  if cohort == 'summer2018'
    .cohort.clearfix
      h3 Healthcare Law Summer 2018
      //- Law Students
      +dp('Bryan Casey', 'jd')
      +dp('Dan Beksha', 'jd')
      +dp('James Rathmell', 'jd')
      +dp('Zach Harned', 'jd')
