nav#mainNav.navbar.navbar-default.navbar-fixed-top
  .container
    // Brand and toggle get grouped for better mobile display
    .navbar-header
      if index
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
          span.sr-only Toggle navigation
          |  Menu 
          i.fa.fa-bars
      a.navbar-brand.page-scroll(href='/') Stanford ML Group
    // Collect the nav links, forms, and other content for toggling
    if index
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a.page-scroll(href='#projects') Projects
            li
              a.page-scroll(href='#people') People
            li
              a.page-scroll(href='#bootcamp') Bootcamps
            li
              a.page-scroll(href='#workwithus') Work With Us
            li
              a.page-scroll(href='#contact') Contact
    else
      block navbar
