extends ../../layout

block title
    title Improving Palliative Care with Deep Learning


block description
  meta(name='description', content='Improving Palliative Care with Deep Learning.')

block extralinks
  link(rel='stylesheet', type='text/css', href='/projects/chexnet/css/chexnet.css')

block extrascripts

block content
  section#header
    .container
      .row
        .col-lg-8
          h1#page-title Improving Palliative Care with Deep Learning
          h2 Anand Avati*, Kenneth Jung, Stephanie Harman, Lance Downing, Andrew Ng, Nigam Shah
  section
    .container
      .row
        .col-md-7
          h2 We build a program using Deep Learning to automatically identify hospitalized patients having palliative needs
          p While 80% of Americans prefer to spend their final days in their home, only 20% actually do. More than 60% of deaths in the US happen in an accute care hospital, most of the patients receiving aggressive care in their final days. We build a program using Deep Learning to identify hospitalized patients with a high risk of death in the next 3-12 months by only inspecting their Electronic Health Record data. Such patients are automatically brought to the attention of the Palliative Care team with notifications. This helps the Palliative Care team to be engaged early enough to ensure patients have their Goals of Care recorded, and provide their services while it is still meaningful.
          a.btn.btn-lg.btn-default(href="https://arxiv.org/abs/1711.06402") Read our paper
        .col-md-5
          h2 Our paper wins the Best Student Paper Award at IEEE International Conference on Bioinformatics and Biomedicine 2017!
          a.btn.btn-lg.btn-default(href="https://muii.missouri.edu/bibm2017/awards#content") IEEE BIBM 2017
  section.gray
    .container
      .row
        .col-md-7
          h2 Our model is an 18-layer Deep Neural Network that inputs the EHR data of a patient, and outputs the probability of death in the next 3-12 months. 
          p We train the model on the historic data from the Stanford Hospital EHR data base, which contains data of over 2 million patients. The model is trained to predict probability of patient mortality in the next 3-12months. Training uses patient's EHR data from the past 12 months, specifically the diagnostic codes, procedure codes, medication codes, and encounter details. All this data is converted into a feature vector for 13,654 dimensions. The trained model achieves an AUROC score of 0.93 and an Average Precision score of 0.69 on cross validation.
        .col-md-5
          .crossfade
            img(src='/projects/improving-palliative-care/img/roc.png').bottom
            img(src='/projects/improving-palliative-care/img/pr.png').top
  section
    .container
      .row
        .col-md-7
          img(src='/projects/improving-palliative-care/img/decision-explanation.png')
        .col-md-5
          h2 The program generates a report along with each prediction, explaining its decision.
          p Having interpretable predictions is crucial to build confidence in the users of a Machine Learning system to take actions based on the model's predictions. Our program generates a report, using careful ablation techniques, highlighting the most crucial factors in the patient's EHR data that contributed towards making a high probability decision.
          a.btn.btn-lg.btn-default(href="https://arxiv.org/abs/1711.06402") Read our paper
  section.bg-primary
    .container
      .row
        .col-md-12
          h3
            | If you have questions about our work,
            | contact us at:
          h4
            code avati@cs.stanford.edu
