extends ../../layout

block title
  title Short-Term Solar Irradiance Forecasting Using Calibrated Probabilistic Models

block description
  meta(name='description', content='Probabilistic Solar Irradiance Forecasting.')
  meta(property="og:image", content="https://stanfordmlgroup.github.io/projects/solar/img/fig1.png")
  meta(name="twitter:image",content="https://stanfordmlgroup.github.io/projects/solar/img/fig1.png")

block extralinks
  link(rel='stylesheet', type='text/css', href='/projects/chexnext/css/chexnext.css')

block extrascripts

block content
  section#header
    .container
      .row
        .col-lg-10
          h1 Short-Term Solar Irradiance Forecasting Using Calibrated Probabilistic Models
          p Eric Zelikman *, Sharon Zhou *, Jeremy Irvin *, Cooper Raterink, Hao Sheng, Anand Avati, Jack Kelly, Ram Rajagopal, Andrew Y. Ng <sup>&#8224;</sup>, David J. Gagne<sup>&#8224;</sup>
  section
    .container
      .row
        .col-md-6
          h2 We developed a variety of probabilistic models for forecasting solar irradiance.
          p Increasing adoption of renewable energy in the electricity sector is essential to the reduction of anthropogenic greenhouse gas emissions. Due to the high volatility and intermittency of solar energy, solar forecasting methods have become necessary to increase the penetration of solar power into the grid while ensuring cost-effectiveness and security. Solar forecasting methods that characterize uncertainty have the potential to aid real-time grid integration of solar energy and help gauge when to deploy new storage.
          a.btn.btn-lg.btn-default(href="https://arxiv.org/abs/2010.04715") Read The Paper
        .col-md-6
          img(src='/projects/solar/img/fig1.gif')
          p(style="text-align:center;") Figure 1. NGBoost 5 minute resolution probabilistic forecasts starting 5 minutes ahead up until one hour ahead, shown here for several days at the Boulder SURFRAD station.

  section.gray
    .container
      .row
        .col-md-12
          h2 We developed several probabilistic models for solar irradiance forecasting combined with recent approaches for post-hoc calibration.
          p 
            | We used public data from 
            a(href="https://www.esrl.noaa.gov/gmd/grad/surfrad/sitepage.html" target="_blank") NOAA’s Surface Radiation (SURFRAD) network
            | , consisting of seven stations throughout the continental U.S. measure a variety of meteorological variables. Relative humidity, wind speed, wind direction, air pressure, time of day, solar zenith angle, air temperature, and the five previous irradiance values up to the forecast time were used as input, and daytime global horizontal irradiance (GHI) as output. 
          p 
            | We developed four probabilistic models which output a probability distribution over the outcome space instead of a point prediction: a Gaussian process regression model, a neural network with uncertainty based on dropout variation (Dropout Neural Network), a neural network whose predictions parameterize a Gaussian distribution optimized to maximize likelihood (Variational Neural Network), and a decision-tree based model using natural gradient boosting (NGBoost) assuming a Gaussian output distribution.
          p We additionally explored the use of post-hoc probabilistic calibration methods for encouraging well-calibrated predictions, including the Kuleshov method, CRUDE, and maximum likelihood estimation (MLE).
  section
    .container
      .row
        .col-md-12
          img(src='/projects/solar/img/table1.png')
        .col-md-12
          h2 NGBoost achieves the best performance without post-hoc calibration at intra-hourly resolution forecasting.
          p We computed the test CRPS of the probabilistic models with different calibration methods across all seven stations, averaged over each 5-minute horizon from 5 minutes to an hour. NGBoost attained the highest performance on all stations.
  section.gray
    .container
      .row
        .col-md-4(style='margin-top:3%;')
          img(src='/projects/solar/img/table2a.png')
        .col-md-8
          h2 NGBoost achieves higher performance at an intra-hourly resolution than the best benchmark solar irradiance forecasting model across all stations.
          p We compared NGBoost to benchmark solar irradiance forecasting models on the intra-hourly resolution task, namely the complete history persistence ensemble (CH-P), persistence ensemble (PeEn), and a Markov-chain Mixture model (MCM). NGBoost outperformed each of these models with improvements of NGBoost over MCM ranging from 5% to over 15%.
  section
    .container
      .row
        .col-md-7
          h2 NGBoost with CRUDE post-hoc calibration achieves comparable performance to a numerical weather prediction model on hourly-resolution forecasting.
          p We compared NGBoost with CRUDE post-hoc calibration to benchmark solar irradiance forecasting models on the hourly resolution task, including the complete history persistence ensemble (CH-P), Gaussian error distribution (Gau), and a standard numerical weather prediction model (NWP) from the European Centre for Medium-Range Weather Forecasts. NGBoost(+C) was the best model on three stations (CO, NV, MT), the NWP model was the best model on three stations (IL, MS, SD), and the Gaussian error distribution was the best model on one station (PA).
        .col-md-5(style='margin-top:5%;')
          img(src='/projects/solar/img/table2b.png')
  section
    .container
      .row
        .col-md-9
          h3
            | To learn more, read 
            a(href="https://arxiv.org/abs/2010.04715") our publication 
            | presented the NeurIPS 2020 workshop on Tackling Climate Change with Machine Learning.
          .pad
          p If you have questions about our work, contact us at:
          h4
            code ezelikman@cs.stanford.edu
            | , 
            code sharonz@cs.stanford.edu
            | , and 
            code jirvin16@cs.stanford.edu
