doctype html
html(lang='en-US')
  head
    meta(charset='UTF-8')
    meta(http-equiv='refresh', content='0; url=/programs/aihc-bootcamp-fall2017/')
    script(type='text/javascript').
      window.location.href = "/programs/aihc-bootcamp-fall2017/"
    title Page Redirection
  body
    // Note: don't tell people to `click` the link, just tell them that it is a link.
    | If you are not redirected automatically, follow this 
    a(href="/programs/aihc-bootcamp-fall2017/") link to example
    | .

