extends layout

block title
  title Stanford Machine Learning Group

block description
  meta(name='description', content='Our mission is to significantly improve people\'s lives through our work in Artificial Intelligence')

block content
  section#header
    .container
      .row
        .col-lg-8
          h1#page-title Stanford Machine Learning Group
          h2
            | Our mission is to significantly improve people's lives through our work in Artificial Intelligence
  section#projects.features
    .container
      .row
        .col-lg-12.text-center
          .section-heading
            h1 Projects
            p.text-muted We work on developing AI solutions for a variety of high-impact problems
            hr
      .row
        .col-md-3
          .feature-item
            i.fa.fa-user-md.text-primary
            h2 X-Rays
            p.text-muted
              | Automating systems that perform pathology detection from chest X-rays.
            a.btn.btn-default(href="/projects/chexnet") Project Webpage
        .col-md-3
          .feature-item
            i.fa.fa-heartbeat.text-primary
            h2 Arrhythmias
            p.text-muted
              | Developing learning systems that perform automatic arrythmia detection from ECG signals.
            a.btn.btn-default(href="/projects/ecg") Project Webpage
        .col-md-3
          .feature-item
            i.fa.fa-medkit.text-primary
            h2 Health Records
            p.text-muted
              | Using Electronic Health Record Data for mortality prediction to direct palliative care resources.
            a.btn.btn-default(href="/projects/improving-palliative-care") Project Webpage
        .col-md-3
          .feature-item
            i.fa.fa-graduation-cap.text-primary
            h2 Education
            p.text-muted
              | Designing natural language models to detect writing errors and provide feedback.
        //-.col-md-3
          .feature-item
            i.fa.fa-shopping-cart.text-primary
            h2 Retail
            p.text-muted
              | Predicting the optimal marketing mix and advertisement spend allocation for online retailers.
  section.gray.features#people
    .container
      .row
        .col-lg-12.text-center
          .section-heading
            h1 People
            p.text-muted Current Members
      .row
        .col-sm-2.col-xs-6.item-wrap
          .feature-item
            img.img-circle(src='/img/headshots/AndrewNg.jpg')
            h3 Andrew Ng
            h4 Professor
        .col-sm-2.col-xs-6.item-wrap
          .feature-item
            img.img-circle(src='/img/headshots/SwatiDube.jpg')
            h3 Swati Dube Batra
            h4 Program Manager
        .col-sm-2.col-xs-6.item-wrap
          .feature-item
            img.img-circle(src='/img/headshots/AnandAvati.jpg')
            h3 Anand Avati
            h4 PhD student
        .col-sm-2.col-xs-6.item-wrap
          .feature-item
            img.img-circle(src='/img/headshots/AwniHannun.jpg')
            h3 Awni Hannun
            h4 PhD student
        .col-sm-2.col-xs-6.item-wrap
          .feature-item
            img.img-circle(src='/img/headshots/PranavRajpurkar.jpg')
            h3 Pranav Rajpurkar
            h4 PhD student
        .col-sm-2.col-xs-6.item-wrap
          .feature-item
            img.img-circle(src='/img/headshots/ZiangXie.jpg')
            h3 Ziang Xie
            h4 PhD student
        .col-sm-2.col-xs-6.item-wrap
          .feature-item
            img.img-circle(src='/img/headshots/HaoSheng.jpg')
            h3 Hao Sheng
            h4 PhD student
        .col-sm-2.col-xs-6.item-wrap
          .feature-item
            img.img-circle(src='/img/headshots/DillonLaird.jpg')
            h3 Dillon Laird
            h4 Masters student
        .col-sm-2.col-xs-6.item-wrap
          .feature-item
            img.img-circle(src='/img/headshots/JeremyIrvin.jpg')
            h3 Jeremy Irvin
            h4 Masters student
        .col-sm-2.col-xs-6.item-wrap
          .feature-item
            img.img-circle(src='/img/headshots/DaisyDing.jpg')
            h3 Daisy Ding
            h4 Masters student
        .col-sm-2.col-xs-6.item-wrap
          .feature-item
            img.img-circle(src='/img/headshots/HershelMehta.jpg')
            h3 Hershel Mehta
            h4 Masters student
        .col-sm-2.col-xs-6.item-wrap
          .feature-item
            img.img-circle(src='/img/headshots/AartiBagul.jpg')
            h3 Aarti Bagul
            h4 Masters student
        .col-sm-2.col-xs-6.item-wrap
          .feature-item
            img.img-circle(src='/img/headshots/TonyDuan.jpg')
            h3 Tony Duan
            h4 Masters student
        .col-sm-2.col-xs-6.item-wrap
          .feature-item
            img.img-circle(src='/img/headshots/GuillaumeGenthial.jpg')
            h3 Guillaume Genthial
            h4 Masters student
        .col-sm-2.col-xs-6.item-wrap
          .feature-item
            img.img-circle(src='/img/headshots/BrandonYang.jpg')
            h3 Brandon Yang
            h4 Undergraduate student
        .col-sm-2.col-xs-6.item-wrap
          .feature-item
            img.img-circle(src='/img/headshots/KaylieZhu.jpg')
            h3 Kaylie Zhu
            h4 Undergraduate student
        .col-sm-2.col-xs-6.item-wrap
          .feature-item
            img.img-circle(src='/img/headshots/MananShah.jpg')
            h3 Manan Shah
            h4 Undergraduate student
        .col-sm-2.col-xs-6.item-wrap
          .feature-item
            img.img-circle(src='/img/headshots/PrathikNaidu.jpg')
            h3 Prathik Naidu
            h4 Undergraduate student
        .col-sm-2.col-xs-6.item-wrap
          .feature-item
            img.img-circle(src='/img/headshots/StanleyXie.jpg')
            h3 Stanley Xie
            h4 Undergraduate student
        .col-sm-2.col-xs-6.item-wrap
          .feature-item
            img.img-circle(src='/img/headshots/MasonSwofford.jpg')
            h3 Mason Swofford
            h4 Undergraduate student
        .col-sm-2.col-xs-6.item-wrap
          .feature-item
            img.img-circle(src='/img/headshots/WillHang.jpg')
            h3 Will Hang
            h4 Undergraduate student
      .row
        .col-lg-offset-2.col-lg-8.text-center
            .section-heading
              p.text-muted Past Members
              ul.list-inline
                li
                  h4 Adam Coates
                li
                  h4 Alan Asbeck
                li
                  h4 Andrew Maas
                li
                  h4 Andrew Saxe
                li
                  h4 Ashutosh Saxena
                li
                  h4 Brody Huval
                //-li
                  h4 Dan Zylberglejd
                li
                  h4 Honglak Lee
                li
                  h4 Ilya Sutskever
                li
                  h4 Jiquan Ngiam
                li
                  h4 Morgan Quigley
                li
                  h4 Pieter Abbeel
                li
                  h4 Quoc Le
                li
                  h4 Rajat Raina
                li
                  h4 Richard Socher
                li
                  h4 Rion Snow
                li
                  h4 Sameep Tandon
                //-li
                  h4 Sudnya Diamos
                li
                  h4 Tao Wang
                li
                  h4 Zico Kolter
  section#volunteering
    .container
      .row
        .col-lg-12.text-center
          .section-heading
            h1 Volunteering with us
      .row
        .col-md-10.col-md-offset-1
          h2
            | By working with our group, you will:
          ul
            li
              | Work on important problems in areas such as healthcare and education, using AI.
            li
              | Build and deploy machine learning / deep learning algorithms and applications.
          h2 Values
          p
            | Here are some values that we would like to see in you:
          ul
            li
              strong Hard work
              | : We expect you to have a strong work ethic. Many of us work evenings and weekends because we love our work and are passionate about the AI mission. We also value velocity, and like people that get things done quickly.
            li
              strong Flexibility
              | : You should be willing to dive into different facets of a project. For example, besides developing machine learning algorithms, you may also need to work on data acquisition, conduct user interviews, or do frontend engineering. This may also require going outside your comfort zone, and learning to do new tasks in which you’re not an expert.
            li
              strong Learning
              | : You should have a strong growth mindset, and want to learn continuously. This can involve reading books, taking coursework, talking to experts, or re-implementing research papers. We will also prioritize your learning and help point you in the right direction; but you need to put in the work to take advantage of this.
            li
              strong Teamwork
              | : We work together in small teams. You are expected to support and collaborate with others; in turn you will also receive support from your teammates.
          h2 Prerequisites
          p
            | You should have either a strong ML/AI background, or a strong software engineering background.
          ul
            li
              strong ML/AI background
              | : You have a solid background in probability and linear algebra, and have done well in AI/ML coursework. For example, Stanford students should have taken CS221 and/or CS229 before applying. Previous ML/AI research experience would be a plus but is not required.
            li
              strong Software engineering background
              | : We also encourage engineers without much AI background who are interested in developing ML applications to apply. Applicants should have made significant contributions to software projects in the past, for example through developing software systems at a company or through significant open source contributions.
          h2
            | Applying
          h3
            | Stanford Students
          ul
            li
              | We expect that students will commit 20 hours a week as a minimum. Students who complete successful research projects typically commit significantly more time than this.
            li
              | Outside of coursework, we expect this to be your primary academic activity.
              | As it takes time to familiarize oneself with a research project and to make significant contributions, we expect that students will be involved for at least two quarters, with a strong preference for those who can potentially stay involved for the full school year.
          h3
            | Non-Stanford student Volunteers
          ul
            li
              | Please email us at ml-apply@cs.stanford.edu with your resume, unofficial transcript if you are a current student or recent graduate, and two paragraphs on why you’d like to get involved. Due to a high number of applicants we may be unable to respond to individual emails.
            li
              | We expect that volunteers will be able to work on campus a minimum of 40 hours/week, though significantly more time than this is likely required to complete a successful project. This should be your primary work commitment.
              | We may ask that you complete a MOOC or other coursework before joining the group.
              | Volunteers must be available for at least 12 weeks of research, with a strong preference for volunteers who can potentially stay involved for longer.
            li
              | You must be currently living in the United States (or already be authorized and willing to move to the United States) and able to work on the Stanford University campus. We are not able to sponsor visas nor take on volunteers that want to work remotely.
          p We believe that having a diverse and inclusive team will help us to advance AI, for the betterment of human life. We value different viewpoints. All backgrounds, ideas, and perspectives are welcome.
  section#contact.bg-primary
    .container
      .row
        .col-lg-12.text-center
          .section-heading
            h1 Contact us
      .row
        .col-md-10.col-md-offset-1.text-center
          h3 
            | If you're looking to partner or volunteer with us, contact us at
          h2
            code ml-apply@cs.stanford.edu
