extends layout

block title
  title Stanford Machine Learning Group

block description
  meta(name='description', content='Our mission is to significantly improve people\'s lives through our work in Artificial Intelligence')

include includes/profile
include includes/people

block content
  section#header
    .container
      .row
        .col-lg-9
          h1#page-title Stanford Machine Learning Group
          h2 Our mission is to significantly improve people's lives through our work in Artificial Intelligence
  section#projects.features
    .container
      .row
        .col-lg-12.text-center
          .section-heading
            h1 Projects
            p.text-muted We work on developing AI solutions for a variety of high-impact problems
            hr
      .row
        //-.col-md-3
          .feature-item
            i.fa.fa-user-md.text-primary
            h2 CheXbert
            p.text-muted
              | Accurate radiology report labeling using bert.
            a.btn.btn-default(href="/projects/chexbert") Project Webpage
        .col-md-3
          .feature-item
            i.fa.fa-database.text-primary
            h2 METER-ML
            p.text-muted
              | Earth Observation Dataset for Methane Source Identification
            a.btn.btn-default(href="/projects/meter-ml") Project Webpage
        .col-md-3
          .feature-item
            i.fa.fa-tree.text-primary
            h2 ForestNet
            p.text-muted
              | Deforestation driver classification using satellite imagery.
            a.btn.btn-default(href="/projects/forestnet") Project Webpage
        .col-md-3
          .feature-item
            i.fa.fa-sun-o.text-primary
            h2 Solar Forecasting
            p.text-muted
              | Calibrated probabilistic solar irradiance forecasting.
            a.btn.btn-default(href="/projects/solar") Project Webpage
        .col-md-3
          .feature-item
            i.fa.fa-database.text-primary
            h2 OGNet
            p.text-muted
              | Oil and gas infrastructure mapping in aerial imagery.
            a.btn.btn-default(href="/projects/ognet") Project Webpage
      .row
        .col-md-3
          .feature-item
            i.fa.fa-camera.text-primary
            h2 CheXphoto
            p.text-muted
              | Chest X-Ray Transformation Dataset And Competition
            a.btn.btn-default(href="/competitions/chexphoto") Project Webpage
        .col-md-3
          .feature-item
            i.fa.fa-user-md.text-primary
            h2 CheXpedition
            p.text-muted
              | Generalizability of top chest X-ray models on real world challenges.
            a.btn.btn-default(href="/projects/chexpedition") Project Webpage
        .col-md-3
          .feature-item
            i.fa.fa-location-arrow
            h2 NGBoost
            p.text-muted
              | Probabilistic Prediction with Gradient Boosting
            a.btn.btn-default(href="/projects/ngboost") Project Webpage
        .col-md-3
          .feature-item
            i.fa.fa-user-md.text-primary
            h2 CheXpert
            p.text-muted
              | A Large Chest X-Ray Dataset And Competition
            a.btn.btn-default(href="/competitions/chexpert") Project Webpage
      .row
        .col-md-3
          .feature-item
            i.fa.fa-heartbeat.text-primary
            h2 ECG Arrhythmia
            p.text-muted
              | Cardiologist-level arrythmia detection from ECG signals.
            a.btn.btn-default(href="/projects/ecg2") Project Webpage
        .col-md-3
          .feature-item
            i.fa.fa-medkit.text-primary
            h2 MRNet
            p.text-muted
              | Diagnosis of abnormalities from Knee MRs
            a.btn.btn-default(href="/competitions/mrnet") Dataset Webpage
            // a.btn.btn-default(href="/projects/mrnet") Project Webpage
        .col-md-3
          .feature-item
            i.fa.fa-heartbeat.text-primary
            h2 PPG Arrhythmia
            p.text-muted
              | Arrythmia detection from ambulatory free-living PPG signals.
            a.btn.btn-default(href="/projects/ppg") Project Webpage
        .col-md-3
          .feature-item
            i.fa.fa-user-md.text-primary
            h2 CheXNeXt
            p.text-muted
              | Chest radiograph diagnosis of multiple pathologies
            a.btn.btn-default(href="/projects/chexnext") Project Webpage
      .row
        .col-md-3
          .feature-item
            i.fa.fa-user-md.text-primary
            h2 MURA
            p.text-muted
              | Introducing a large dataset for abnormality detection from bone x-rays.
            a.btn.btn-default(href="/competitions/mura") Project Webpage
        .col-md-3
          .feature-item
            i.fa.fa-hourglass-half.text-primary
            h2 Countdown Regression
            p.text-muted
              | New approach to probabilistic time to event predictions.
            a.btn.btn-default(href="/projects/countdown-regression") Project Webpage
        .col-md-3
          .feature-item
            i.fa.fa-user-md.text-primary
            h2 CheXNet
            p.text-muted
              | Radiologist-level pneumonia detection from chest X-rays.
            a.btn.btn-default(href="/projects/chexnet") Project Webpage
        .col-md-3
          .feature-item
            i.fa.fa-medkit.text-primary
            h2 Palliative Care
            p.text-muted
              | Using Electronic Health Record Data to direct palliative care resources.
            a.btn.btn-default(href="/projects/improving-palliative-care") Project Webpage
      .row
        .col-md-3
          .feature-item
            i.fa.fa-graduation-cap.text-primary
            h2 Education
            p.text-muted
              | Designing natural language models to detect writing errors and provide feedback.
            a.btn.btn-default(href="http://crio.stanford.edu") Project Webpage
      // .row 
      //   .col-md-3
      //     .feature-item
      //       i.fa.fa-user-md.text-primary
      //       h2 CheXplanation
      //       p.text-muted
      //         | Chest X-Ray Localization Dataset And Competition
      //       a.btn.btn-default(href="/competitions/chexplanation") Project Webpage

  section.gray.features#people
     .container
      .row
        .col-lg-12.text-center
          .section-heading
            h1 People
            p.text-muted Core
      .row
        .col-md-10.col-md-offset-1
          +alumni_inside('core', 'show_position')
      .row
        .col-md-10.col-md-offset-1
          .section-heading.text-center
            p.text-muted PhD Alumni
          +alumni_inside('phd_alumni')
  section#bootcamp
    .container
      .row
        .col-md-12.text-center
            .section-heading
              h2 Bootcamps
      .row
        .col-md-6
            a(href="https://medical-ai-bootcamp.hms.harvard.edu/")
              img(src="https://uploads-ssl.webflow.com/61d210ac9b5fc8ec43f8a4e3/61d23a07072da0dc7d4139f3_Medical%20AI%20Bootcamp%20Logo.svg")
        .col-md-6
            a(href="/programs/aicc-bootcamp")
              img.programHeadline(src="/programs/aicc-bootcamp.svg")
      hr
      .row
        .col-md-10.col-md-offset-1.text-center
          .section-heading
            h2.text-muted Bootcamp Current + Alumni
          +alumni_inside('bootcamp_alumni')
          .clearfix
          .section-heading
            h2.text-muted Collaborating Faculty
          +alumni_inside('bootcamp_faculty')
  section#workwithus
    .container
      .row
        .col-lg-12.text-center
          .section-heading
            h1 Work with us
      .row
        .col-md-10.col-md-offset-1
          h2
            | By working with our group, you will:
          ul
            li
              | Work on important problems in areas such as healthcare and climate change, using AI.
            li
              | Build and deploy machine learning / deep learning algorithms and applications.
          h2 Values
          p
            | Here are some values that we would like to see in you:
          ul
            li
              strong Hard work
              | : We expect you to have a strong work ethic. Many of us work evenings and weekends because we love our work and are passionate about the AI mission. We also value velocity, and like people that get things done quickly.
            li
              strong Flexibility
              | : You should be willing to dive into different facets of a project. For example, besides developing machine learning algorithms, you may also need to work on data acquisition, conduct user interviews, or do frontend engineering. This may also require going outside your comfort zone, and learning to do new tasks in which you’re not an expert.
            li
              strong Learning
              | : You should have a strong growth mindset, and want to learn continuously. This can involve reading books, taking coursework, talking to experts, or re-implementing research papers. We will also prioritize your learning and help point you in the right direction; but you need to put in the work to take advantage of this.
            li
              strong Teamwork
              | : We work together in small teams. You are expected to support and collaborate with others; in turn you will also receive support from your teammates.
          h2 Prerequisites
          p
            | You should have a strong ML background, or a strong software engineering background.
          ul
            li
              strong ML/AI background
              | : You have a solid background in probability and linear algebra, and have done well in AI/ML coursework. For example, Stanford students should have taken CS229 before applying. Previous ML/AI research experience would be a plus but is not required.
            li
              strong Software engineering background
              | : We also encourage engineers without much AI background who are interested in developing ML applications to apply. Applicants should have made significant contributions to software projects in the past, for example through developing software systems at a company or through significant open source contributions.
          h2
            | Applying
          p  Please see below for how to apply to work with our group. Due to a high number of applicants we may be unable to respond to individual emails. We can only work with Stanford students at this time.
          h3
            | Stanford PhD Students
          ul
            li
              | Stanford PhD students interested in rotating with Professor Ng should email us at ml-apply@cs.stanford.edu using their Stanford email with the subject line “FirstName LastName PhD Rotation”.
          h3
            | Other Stanford Students
          ul
            li 
              | We encourage other Stanford students who want to work with us to apply to either the 
              a(href="https://stanfordmlgroup.github.io/programs/aicc-bootcamp/") AICC 
              | or 
              a(href="https://medical-ai-bootcamp.hms.harvard.edu/") Medical AI 
              | bootcamp. 
            li
              | Outside of coursework, we expect this to be your primary academic activity. 
            li
              | As it takes time to familiarize oneself with a research project and to make significant contributions, we expect that students will be involved for at least two quarters, with a strong preference for those who can potentially stay involved for the full school year.
          //- h3
          //-   | Volunteers
          //- ul
          //-   li
          //-     | Please email us at ml-apply@cs.stanford.edu with your resume (and your transcript if you're a student) and two paragraphs on why you’d like to get involved.
          //-   li
          //-     | You must be authorized to work in the United States and able to work on the Stanford University campus. We are not able to sponsor visas nor take on volunteers that want to work remotely. 
          //-   li
          //-     | Volunteers must be available for at least 12 weeks of research, with a strong preference for volunteers who can potentially stay involved for longer. We expect that volunteers will commit 25 hours a week as a minimum.
          //- p We believe that having a diverse and inclusive team will help us to advance AI, for the betterment of human life. We value different viewpoints. All backgrounds, ideas, and perspectives are welcome.
  section#contact.gray
    .container
      .row
        .col-lg-12.text-center
          .section-heading
            h1 Contact us
      .row
        .col-md-10.col-md-offset-1.text-center
          h3
            | If you're looking to partner or work with us, contact us at 
          h2
            code ml-apply@cs.stanford.edu
