doctype html
// Author: Pranav Rajpurkar 2017
html
    head
        meta(charset='utf-8')
        block title
        block description
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        link(rel="image_src", type="image/jpeg", href="/logo.jpg")
        link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
        link(rel="icon", href="/favicon.ico", type="image/x-icon")
        link(href='/lib/bootstrap/css/bootstrap.min.css', rel='stylesheet')
        
        //- Custom Fonts
        link(href='https://fonts.googleapis.com/css?family=Lato:400,600', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,600', rel='stylesheet')
        
        //- Plugin CSS
        link(rel='stylesheet', href='/lib/font-awesome/css/font-awesome.min.css')
        link(rel='stylesheet', href='/lib/simple-line-icons/css/simple-line-icons.css')
        
        //- Theme CSS
        link(href='/css/theme.css', rel='stylesheet')
        block extralinks
        script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
        script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
        
        script(src='/js/analytics.js')
    body
        include includes/nav
        block content
        include includes/footer
        //- jQuery
        script(src='/lib/jquery/jquery.min.js')
        //- Bootstrap Core JavaScript
        script(src='/lib/bootstrap/js/bootstrap.min.js')
        //- Plugin JavaScript
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')
        //- Theme JavaScript
        script(src='/js/theme.js')
        block extrascripts
