extends ../bootcamp_cohort

block title
  title AI For Healthcare Bootcamp Fall 2018

include ../../includes/profile

block cohort_block
  h1 Fall 2018 Cohort

block teaching_team
  +dp('Pranav Rajpurkar', 'phd', false, true)
  +dp('Anand Avati', 'phd', false, true)
  +dp('Jeremy Irvin', 'ms', false, true)
  +dp('Andrew Ng', 'prof', false, true)
  +dp('Nigam Shah', 'prof', false, true)
  +dp('Matt Lungren', 'prof', false, true)
  +dp('Curt Langlotz', 'prof', false, true)
  +dp('Jeanne Shen', 'prof', false, true)
  +dp('Sanjay Basu', 'prof', false, true)
  +dp('Robyn Ball', 'Senior Biostatistician', false, true)
  +dp('Bhavik Patel', 'prof', false, true)
  +dp('Kristen Yeom', 'prof', false, true)

block students
  //- Alphabetical order
  +dp('Alex Wang', 'bs')
  +dp('Amirhossein Kiani', 'ms')
  +dp('Amit Schechter', 'bs')
  +dp('Andrew Kondrich', 'bs')
  +dp('Behzad Haghgoo', 'bs')
  +dp('Bora Uyumazturk', 'bs')
  +dp('Joe Lou', 'bs')
  +dp('Michael Ko', 'bs')
  +dp('Nidhi Manoj', 'bs')
  +dp('Nishit Asnani', 'ms')
  +dp('Soumya Patro', 'ms', true)
  +dp('Yifan Yu', 'ms')

