#page-title, #page-subtitle {
  text-align: center;
}

#page-subtitle {
  margin-bottom: -10px;
	color: black;
	font-weight: 500;
}

#title-image {
	max-width: 200px;
}

#agreement > p {
	font-size: 1em;
	line-height: 1.2em;
	text-align: justify;
}

#mc-embedded-subscribe-form {
	padding: 0px !important;
}

.human-row {
	background-color: whitesmoke;
}
