extends ../../layout

block title
    title CheXNet: Radiologist-Level Pneumonia Detection on Chest X-Rays with Deep Learning


block description
  meta(name='description', content='Detecting Pneumonia from Chest X-Rays better than a radiologist.')

block extralinks
  link(rel='stylesheet', type='text/css', href='/projects/chexnet/css/chexnet.css')

block extrascripts

block content
  section#header
    .container
      .row
        .col-lg-8
          h1#page-title CheXNet: Radiologist-Level Pneumonia Detection on Chest X-Rays with Deep Learning
          h2 Pranav Rajpurkar*, Jeremy Irvin*, Kaylie Zhu, Brandon Yang, Hershel Mehta, Tony Duan, Daisy Ding, Aarti Bagul, Curtis Langlotz, Katie Shpanskaya, Matthew P. Lungren, Andrew Y. Ng
  section
    .container
      .row
        .col-md-7
          h2 We develop an algorithm that can detect pneumonia from chest X-rays at a level exceeding practicing radiologists.
          p Chest X-rays are currently the best available method for diagnosing pneumonia, playing a crucial role in clinical care and epidemiological studies. Pneumonia is responsible for more than 1 million hospitalizations and 50,000 deaths per year in the US alone.
          a.btn.btn-lg.btn-default(href="https://arxiv.org/abs/1711.05225") Read our paper
        .col-md-5
          .crossfade
            img(src='/projects/chexnet/img/chest-cam.png').bottom
            img(src='/projects/chexnet/img/chest-example.png').top
  section.gray
    .container
      .row
        .col-md-7
            img(src='/projects/chexnet/img/chex-main.svg', style='max-height:700px;')
        .col-md-5
          h2 Our model, CheXNet, is a 121-layer convolutional neural network that inputs a chest X-ray image and outputs the probability of pneumonia along with a heatmap localizing the areas of the image most indicative of pneumonia. 
          p We train CheXNet on the recently released ChestX-ray14 dataset, which contains 112,120 frontal-view chest X-ray images individually labeled with up to 14 different thoracic diseases, including pneumonia. We use dense connections and batch normalization to make the optimization of such a deep network tractable.
  section
    .container
      .row
        .col-md-7
          h2 We train on ChestX-ray14, the largest publicly available chest X- ray dataset.
          p The dataset, released by the NIH, contains 112,120 frontal-view X-ray images of 30,805 unique patients, annotated with up to 14 different thoracic pathology labels using NLP methods on radiology reports. We label images that have pneumonia as one of the annotated pathologies as positive examples and label all other images as negative examples for the pneumonia detection task.
          p We collected a test set of 420 frontal chest X-rays. Annotations were obtained independently from four practicing radiologists at Stanford University, who were asked to label all 14 pathologies. We then evaluate the performance of an individual radiologist by using the majority vote of the other 3 radiologists as ground truth. Similarly, we evaluate CheXNet using the majority vote of 3 of 4 radiologists, repeated four times to cover all groups of 3.
        .col-md-5
          img(src='/projects/chexnet/img/chest-example2.png')
  section
    .container
      .row
        .col-md-7
          img(src='/projects/chexnet/img/results.png')
        .col-md-5
          h2 We find that the model exceeds the average radiologist performance on the pneumonia detection task.
          p 
            | We compute the F1 score for each individual radiologist
            | and for CheXNet against each of the other 4 labels
            | as ground truth. We report
            | the mean of the 4 resulting F1 scores for each radiologist
            | and for CheXNet, along with the average F1
            | across the radiologists.
            | We compare radiologists and our model on the F1
            | metric, which is the harmonic average of the precision and
            | recall. CheXNet achieves an F1 score of 0.435
            | (95% CI 0.387, 0.481), higher than the radiologist average
            | of 0.387 (95% CI 0.330, 0.442). We use the bootstrap to
            | find that the difference in performance is statistically significant.
  section.gray
    .container
      .row
        .col-md-7
          h3 
              | With approximately 2 billion procedures per year, chest X-rays are the most common imaging examination tool used in practice, critical for screening, diagnosis, and management of diseases including pneumonia. However, an estimated two thirds of the global population lacks access to radiology diagnostics. With automation at the level of experts, we hope that this technology can improve healthcare delivery and increase access to medical imaging expertise in parts of the world where access to skilled radiologists is limited.
          a.btn.btn-lg.btn-default(href="https://arxiv.org/abs/1711.05225") Read our paper