extends ../bootcamp_cohort

block title
  title AI For Healthcare Bootcamp Winter 2018

include ../../includes/profile

block cohort_block
  h1 Winter 2018 Cohort

block teaching_team
  +dp('Pranav Rajpurkar', 'phd', false, true)
  +dp('Anand Avati', 'phd', false, true)
  +dp('Jeremy Irvin', 'ms', false, true)
  +dp('Sharon Zhou', 'phd', false, true)
  +dp('Andrew Ng', 'prof', false, true)
  +dp('Nigam Shah', 'prof', false, true)
  +dp('Matt Lungren', 'prof', false, true)
  +dp('Curt Langlotz', 'prof', false, true)
  +dp('Jeanne Shen', 'prof', false, true)
  +dp('Sanjay Basu', 'prof', false, true)
  +dp('Robyn Ball', 'Senior Biostatistician', false, true)
  +dp('Bhavik Patel', 'prof', false, true)
  +dp('Kristen Yeom', 'prof', false, true)
  +dp('Leanne Williams', 'prof', false, true)

block students
  //- Alphabetical order
  +dp('Anuj Pareek', 'md')
  +dp('Chris Wang', 'bs')
  +dp('Jingbo Yang', 'bs')
  +dp('Mark Sabini', 'bs')
  +dp('Minh Phu', 'bs')
  +dp('Nathan Dass', 'ms')
  +dp('Vinjai Vale', 'bs')
