extends ../../layout

block title
  title AI For Climate Change Bootcamp 

block description
  meta(name='description', content='The AI for Climate Change Bootcamp provides Stanford students an opportunity to do cutting-edge research at the intersection of AI and climate change.')

block extrascripts
include ../../includes/profile
include ../../includes/people

block content
  section#header
    .container
      .row
        .col-lg-9
          img#aihc_headline(src="/programs/aicc-bootcamp.svg")
  section.gray
    .container
      .row
        .col-sm-6
          h3 The AI for Climate Change Bootcamp provides Stanford students an opportunity to do cutting-edge research at the intersection of AI and climate change. Students receive training from PhD students and bootcamp faculty to do interdisciplinary research on high impact problems.
          p Projects in the bootcamp have included work in a variety of climate-relevant subfields including (1) energy on detecting solar, wind, and oil and gas infrastructure in satellite imagery, (2) earth science on predicting methane emissions from natural wetlands, (3) deforestation on classifying the drivers of forest loss events using satellite imagery, and (4) transportation on detecting travel infrastructure in urban areas using street view and aerial imagery, and span a variety of machine learning subfields, including self-, semi-, and weakly supervised learning, active learning, and probabilistic forecasting.  
          p Academic collaborators include faculty at Stanford University, UC Berkeley, the University of Illinois Chicago, the University of British Columbia, and the University of Oxford.
          p AICC bootcamp alumni have pursued PhD programs at Stanford, Cambridge, and Harvard University, and assumed industry roles at OpenAI, Google X, Meta Research, and Microsoft Research.
          //- a.btn.btn-lg.btn-default(href="https://forms.gle/QvoFcxGbt4ASQeHR8") Apply Now
        .col-sm-6.hidden-xs
          +alumni_inside('climate_bootcamp_alumni', 'big_compact')
          +alumni_inside('climate_bootcamp_phd', 'big_compact')
        //- .col-sm-4.col-sm-pull-7
        //-   img(src='/img/aicc-bootcamp.jpg', width="90%")
  section
    .container
      .row
        .col-sm-6
          div(class="clearfix")
            h3 Teaching Team
            +alumni_inside('climate_bootcamp_phd', 'medium')
            +dp('Andrew Ng', 'prof', false, 'medium')
          div(class="clearfix")
            h3 Climate Change Faculty
            +alumni_inside('climate_faculty', 'medium')
          div(class="clearfix")
            h3 Nonprofit Collaborators
            +alumni_inside('climate_nonprofit', 'medium')
          div(class="clearfix")
            h3 Industry Collaborators
            +alumni_inside('climate_industry', 'medium')
        .col-sm-6
          h2 Program
          p 
            | The AICC bootcamp is an intense two-quarter program where students work on high-impact research problems at the intersection of AI and climate change. Students work closely with PhD students in Professor Andrew Ng's lab and with faculty members in climate change-related fields. Students also collaborate with climate change experts from industry.
          p
            | The program includes teaching team and guest lectures on machine learning methods and tools and their application to climate change, as well as reading groups covering state-of-the-art research at the intersection of AI and climate change. Students learn about a variety of AI topics relevant to climate change with an emphasis on remote sensing applications.
          .applications
            h2 Applications
            p Students with a background in artificial intelligence are encouraged to apply. Our group’s primary focus is doing academic work that makes an impact--that is, we emphasize doing work that directly helps mitigate and adapt to climate change--so please apply only if you similarly have an impact-oriented mindset.
            //- p Applications for the Spring+Summer/Fall 2022 bootcamp are now open. Students have the option to do their second quarter in the Summer or Fall.
            p Applications for the Winter-Spring 2022-2023 bootcamp have closed. This is the last AICC bootcamp of the year.
            //- ul
            //-   li Early Applications due Nov 25th, 2022 at 11:59p PST.
            //-   li Regular Applications due Dec 16th, 2022 at 11:59p PST.
            //-   li Late Applications due Jan 3rd, 2023 at 11:59p PST. Apply early to give yourself enough time to prepare for the interview.
            //-   li Rolling interviews and selections through Jan 8th, 2023.
            //-   li Bootcamp starts Jan 9th, 2023.
            h3 Prerequisites and Commitment
            //- h3 AI Specialization
            p The bootcamp is suited for students who have taken machine learning and software engineering courses. Students will be able to apply and sharpen these skills, developing machine learning solutions to challenging problems with the mentorship of CS PhD students and in collaboration with faculty and industry experts. Students have the opportunity to take a deep dive into climate change and co-author a research paper. We expect students to have:
            ul
              li Taken machine learning courses (CS229/CS230/CS224N/CS231N or equivalent).
              li Proficiency in software engineering (CS106B or equivalent), computer systems (CS107 or equivalent), and have done Python programming.
              li The bootcamp as their primary academic engagement (30 hours per week) outside of 1 or 2 courses. We encourage students to sign up for research credits (CS 199, CS 399, etc).
            //- h3 HCI Specialization
            //- p This role is suited for students who have taken human computer interaction and software engineering courses. Students will be able to apply and sharpen these skills, developing solutions to challenging problems with the mentorship of CS PhD students and in collaboration with faculty and industry experts. Students have the opportunity to take a deep dive into climate change and co-author a research paper. We expect students to have:
            //- ul
            //-   li Have taken one or more of CS147, CS247, CS278, or CS347.
            //-   li Proficiency in software engineering (CS107 or equivalent), and have done Python programming.
            //-   li The bootcamp as their primary academic engagement (20-30 hours per week in lab) outside of 1 or 2 courses. We encourage students to sign up for research credits (CS 199, CS 399, etc).
            //- h3 Web Development Specialization
            //- p AI projects are not complete before their tangible impact is demonstrated in the real world. This is why developing usable and robust applications for interfacing with AI models is a key element of our research projects.
            //- p This role is suited for students who have taken web development and software engineering courses.  Students will be able to apply and sharpen these skills, developing robust, production-ready web applications with the mentorship of CS PhD students and software experts and in collaboration with faculty and industry experts. Students have the opportunity to take a deep dive into climate change and develop a web application. We expect students to:
            //- ul 
            //-   li Have taken at least one of CS142, CS147, CS193X, CS194H, CS210, CS247, or equivalent
            //-   li Have proficiency in software engineering (CS107 or equivalent), have done Javascript programming, and have experience with one or more web development frameworks (e.g. Vue, React, Angular)
            //-   li Dedicate 10-20 hours per week and attend 1 research meeting per week. Students can sign up for research credits.
            //- h3 Climate Specialization
            //- p This role is suited for students with a background in a climate-change related field. Students will work to define the focus of projects by exploring previous work and guiding the development of machine learning solutions to maximize their impact on climate change. Students have the opportunity to take a deep dive into AI and co-author a research paper. We expect students to:
            //- ul
            //-   li Have background in at least one of the following fields: climate science, disaster management, earth monitoring, earth science, energy, forestry, transportation, and urban planning.
            //-   li Have taken at least one statistics course (STATS60 or equivalent).
            //-   li Know deep learning and machine learning at a conceptual level.
            //-   li Dedicate 10-20 hours per week and attend 2 research meetings per week. Students can sign up for research credits.
  section.gray
    .container
      .row
        .col-sm-4
          h3 Past Bootcamp Projects
          ul.list-unstyled
            li
              a.btn(href="/projects/meter-ml") METER-ML
            li
              a.btn(href="https://journals.sagepub.com/doi/abs/10.1177/23998083221112157") Crosswalk Mapping
            li
              a.btn(href="https://www.sciencedirect.com/science/article/abs/pii/S0168192321002124") Methane Gapfilling
            li
              a.btn(href="/projects/forestnet") ForestNet
            li
              a.btn(href="/projects/solar") Solar Forecasting
            li
              a.btn(href="/projects/ognet") OGNet
            li
              a.btn(href="https://www.climatechange.ai/papers/neurips2019/5/paper.pdf") DeepWind
        .col-sm-8
          .row
            .col-sm-12
              h2 Bootcamp Cohorts
              +alumni('ccwinter2023', false)
              +alumni('ccfall2022', false)
              +alumni('ccspring2022', false)
              +alumni('ccwinter2022', false)
              +alumni('ccfall2021', false)
              +alumni('ccsummer2021', false)
              +alumni('ccspring2021', false)
              +alumni('ccwinter2021', false)
              +alumni('ccfall2020', false)
              +alumni('ccsummer2020', false)
              +alumni('ccspring2020', false)
              +alumni('ccwinter2020', false)
              +alumni('ccfall2019', false)
              +alumni('ccsummer2019', false)
              +alumni('ccspring2019', false)
  section.bg-primary
    .container
      .row
        //- .col-md-8.col-md-offset-4
          //- h2 We invite you to join the forefront of AI for climate change
          //- a.btn.btn-lg.btn-default(href="https://forms.gle/QvoFcxGbt4ASQeHR8") Apply Now
