.crossfade {
    position: relative;
}

.crossfade img.bottom {
    position: absolute;
}

.crossfade img {
	width: 100%;
}

.top {
	animation-name: fade;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 2s;
	animation-direction: alternate;
}

@keyframes fade {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

table.ui.celled.table.center.aligned td{
    vertical-align: middle;
}