extends ../../layout

block title
  title AI For Healthcare Bootcamp 

block description
  meta(name='description', content='The AI for Healthcare Bootcamp provides Stanford students an opportunity to do cutting-edge research at the intersection of AI and healthcare.')

block extrascripts
include ../../includes/profile

block content
  section#header
    .container
      .row
        .col-lg-9
          img#aihc_headline(src="/programs/aihc-bootcamp.svg")
  section.gray
    .container
      .row
        .col-sm-8
          h3 The AI for Healthcare Bootcamp provides Stanford students an opportunity to do cutting-edge research at the intersection of AI and healthcare. Students receive training from PhD students and bootcamp faculty to work on high impact work.
          p The applications for the fall bootcamp are now open and due on October 3rd, 2018.
          a.btn.btn-lg.btn-default(href="https://goo.gl/forms/4xpEQgCa2dskUakH3") Apply Now
  section
    .container
      .row
        .col-sm-4
          h3 Teaching Team
          +dp('Pranav Rajpurkar', 'phd', false, true)
          +dp('Anand Avati', 'phd', false, true)
          +dp('Jeremy Irvin', 'ms', false, true)
          +dp('Andrew Ng', 'prof', false, true)
          +dp('Nigam Shah', 'prof', false, true)
          +dp('Matt Lungren', 'prof', false, true)
          +dp('Curt Langlotz', 'prof', false, true)
          +dp('Jeanne Shen', 'prof', false, true)
          +dp('Sanjay Basu', 'prof', false, true)
          +dp('Bhavik Patel', 'prof', false, true)
          +dp('Kristen Yeom', 'prof', false, true)
        .col-sm-8
          h2 Program
          p The AIHC bootcamp is an intense two-quarter program where students work on high-impact research problems at the intersection of AI and healthcare (radiology, pathology and public health). Students work closely with PhD students in Professor Andrew Ng's lab and with faculty in the medical school. 
          .applications
            h2 Applications
            p Students with a background in artificial intelligence or healthcare are encouraged to apply. The applications for the fall bootcamp are now open.
            ul
              li Applications due October 3rd at 11:59p PST.
              li Rolling interviews and selections until October 7th, 2018.
              li Bootcamp duration is October 8th, 2018 to March 15th, 2019.
            h3 AI Specialization
            p This role is suited for students who have taken machine learning and software engineering courses. Students will be able to apply and sharpen these skills, developing machine learning solutions to challenging problems with the mentorship of CS PhD students and in collaboration with medical school faculty. Students have the opportunity to take a deep dive into healthcare and co-author a research paper. We expect students to have:
            ul
              li Taken machine learning courses (CS229/CS230/CS224N/CS231N or equivalent).
              li Proficiency in software engineering (CS107 or equivalent), and have done Python programming.
              li The bootcamp as their primary academic engagement (20-30 hours per week) outside of 1 or 2 courses. We encourage students to sign up for research credits (CS 199, CS 399 etc).
            h3 Healthcare Specialization
            p  This role is suited for students in the medical school or with a background in healthcare. Students will work to define the focus of projects by exploring previous work and clinical utility. Students have the opportunity to work closely with the medical school faculty, take a deep dive into AI, and co-author a research paper. We expect students to have:
            ul
              li Proficiency in writing. Knowledge of machine learning at a high level and specialized knowledge in a medical specialty are a plus.
              li Ability to creatively problem solve. We look for demonstrations of innovation in a candidate's past projects.
              li Students are expected to be able to dedicate 10-20 hours per week. Students can sign up for research credits (MED 199, MED 399 etc).
  section.gray
    .container
      .row
        .col-md-4.col-md-offset-4
          h4 Past Bootcamp Cohorts
          ul.list-inline
            li
              a(href="/programs/aihc-bootcamp-spring2018") Spring 2017-2018
            li
              a(href="/programs/aihc-bootcamp-winter2018") Winter 2017-2018
            li
              a(href="/programs/aihc-bootcamp-fall2017") Fall 2017-2018
        .col-md-4
          h4 Past Bootcamp Projects
          ul.list-inline
            li
              a(href="/projects/chexnet") CheXNet
            li
              a(href="/projects/mura") MURA
  section.bg-primary
    .container
      .row
        .col-md-8.col-md-offset-4
          h2 We invite you to join the AI revolution in healthcare
          a.btn.btn-lg.btn-default(href="https://goo.gl/forms/4xpEQgCa2dskUakH3") Apply Now
