extends ../../layout

block description
  meta(name='description', content='The AI for Healthcare Bootcamp has now expanded into a Harvard-Stanford Program: the Medical AI Bootcamp.')

block extrascripts
include ../../includes/profile
include ../../includes/people

block content
  section#header
    .container
      .row
        .col-lg-9
          img#aihc_headline(src="/programs/aihc-bootcamp.svg")
  section
    .container
      .row
        .col-sm-12
          h2 
            | The 2017 - 2021 AI For Healthcare (AIHC) Bootcamp has now expanded into a new Harvard-Stanford joint program called the 
            a(href="https://medical-ai-bootcamp.hms.harvard.edu/") Medical AI Bootcamp
            | .
  section.gray
    .container
      .row
        .col-sm-7
            h2 AIHC Bootcamp History
            p Since its founding at Stanford in Fall 2017, the AIHC Bootcamp has graduated 100+ students with 15+ 
              | collaborating faculty at Stanford Medicine and Engineering, UCSF, and Harvard. Over half of the students had their first research experiences in the bootcamp. We are proud to share that our bootcamp alumni have pursued PhD programs at institutions including MIT, Stanford, UW; led industry efforts at Google Brain, Apple Health, Microsoft Research, Tesla AI; and started AI startups including Valar Labs and Wispr AI.
        .col-sm-5
          h3 Teaching Team
          +alumni_inside('healthcare_bootcamp_phd', 'big')
          +dp('Andrew Ng', 'prof', false, 'big')
      .row
        .col-sm-12
          h3 Collaborating Faculty
          +alumni_inside('medical_faculty')
  section.gray
    .container
      .row
        .col-sm-12
          h2 Bootcamp Cohorts
          +alumni('hcfall2021')
          +alumni('hcspring2021')
          +alumni('hcwinter2021')
          +alumni('hcfall2020')
          +alumni('hcsummer2020')
          +alumni('hcspring2020')
          +alumni('winter2020')
          +alumni('fall2019')
          +alumni('spring2019')
          +alumni('winter2019')
          +alumni('fall2018')
          +alumni('summer2018')
          +alumni('spring2018')
          +alumni('winter2018')
          +alumni('fall2017')
      .row
        .col-sm-12
          h3 Projects
          ul.list-inline
            li
              a.btn(href="https://arxiv.org/abs/2102.10663") MedAug
            li
              a.btn(href="https://arxiv.org/abs/2106.04452") 3KG
            li
              a.btn(href="https://arxiv.org/abs/2102.11467") VisualCheXbert
            li
              a.btn(href="https://arxiv.org/abs/2102.10484") CheXseg
            li
              a.btn(href="https://arxiv.org/abs/2102.08660") CheXternal
            li
              a.btn(href="https://arxiv.org/abs/2101.06871") CheXtransfer
            li
              a.btn(href="https://arxiv.org/abs/2010.15269") GloFlow
            li
              a.btn(href="https://arxiv.org/abs/2010.05352") MoCo-CXR
            li
              a.btn(href="https://arxiv.org/abs/2011.06129") CheXphotogenic
            li
              a.btn(href="https://arxiv.org/abs/2004.09167") CheXbert
            li
              a.btn(href="https://stanfordmlgroup.github.io/competitions/chexphoto/") CheXphoto
            li
              a.btn(href="https://www.nature.com/articles/s41746-020-00322-2") CheXaid
            li
              a.btn(href="/projects/chexpedition") CheXpedition
            li
              a.btn(href="https://arxiv.org/abs/1911.07372") HCC/CC
            li
              a.btn(href="https://jamanetwork.com/journals/jamanetworkopen/fullarticle/2735471") HeadXNet
            li
              a.btn(href="/projects/chexnext") CheXNeXt
            li
              a.btn(href="/projects/mrnet") MRNet
            li
              a.btn(href="/projects/chexnet") CheXNet
            li
              a.btn(href="/projects/mura") MURA
   
