extends ../../layout

block title
  title AI For Healthcare Bootcamp 

block description
  meta(name='description', content='The AI for Healthcare Bootcamp provides Stanford students an opportunity to do cutting-edge research at the intersection of AI and healthcare.')

block extrascripts
include ../../includes/profile

block content
  section#header
    .container
      .row
        .col-lg-9
          img#aihc_headline(src="/programs/aihc-bootcamp.svg")
  section.gray
    .container
      .row
        .col-sm-8
          h3 The AI for Healthcare Bootcamp provides Stanford students an opportunity to do cutting-edge research at the intersection of AI and healthcare. Students receive training from PhD students and bootcamp faculty to work on high impact work.
          p The applications for the winter bootcamp are now open.
          a.btn.btn-lg.btn-default(href="https://goo.gl/forms/lZf5HN2yq6WBquVn2") Apply Now
        .col-sm-4
            img(src="/programs/aihc-bootcamp-fall2018/bootcamp_cover_img.png")
  section
    .container
      .row
        .col-sm-4
          h3 Teaching Team
          +dp('Pranav Rajpurkar', 'phd', false, true)
          +dp('Anand Avati', 'phd', false, true)
          +dp('Jeremy Irvin', 'ms', false, true)
          +dp('Andrew Ng', 'prof', false, true)
          +dp('Nigam Shah', 'prof', false, true)
          +dp('Matt Lungren', 'prof', false, true)
          +dp('Curt Langlotz', 'prof', false, true)
          +dp('Jeanne Shen', 'prof', false, true)
          +dp('Sanjay Basu', 'prof', false, true)
          +dp('Bhavik Patel', 'prof', false, true)
          +dp('Kristen Yeom', 'prof', false, true)
        .col-sm-8
          h2 Program
          p The AIHC bootcamp is an intense two-quarter program where students work on high-impact research problems at the intersection of AI and healthcare (radiology, pathology and public health). Students work closely with PhD students in Professor Andrew Ng's lab and with faculty in the medical school. 
          .applications
            h2 Applications
            p Students with a background in artificial intelligence or healthcare are encouraged to apply. The applications for the fall bootcamp are now open.
            ul
              li Early Applications due Nov 23th, 2018 at 11:59p PST.
              li Regular Applications due Jan 8th, 2019 at 11:59p PST.
              li Late Applications due Jan 13th, 2019 at 11:59p PST.
              li Rolling interviews and selections until Jan 14th, 2019.
              li Bootcamp duration is Jan 14th, 2019 to June 4th, 2019.
            h3 AI Specialization
            p This role is suited for students who have taken machine learning and software engineering courses. Students will be able to apply and sharpen these skills, developing machine learning solutions to challenging problems with the mentorship of CS PhD students and in collaboration with medical school faculty. Students have the opportunity to take a deep dive into healthcare and co-author a research paper. We expect students to have:
            ul
              li Taken machine learning courses (CS229/CS230/CS224N/CS231N or equivalent).
              li Proficiency in software engineering (CS107 or equivalent), and have done Python programming.
              li The bootcamp as their primary academic engagement (20-30 hours per week in lab) outside of 1 or 2 courses. We encourage students to sign up for research credits (CS 199, CS 399 etc).
            h3 Healthcare Specialization
            p  This role is suited for students in the medical school. Students will work to define the focus of projects by exploring previous work and clinical utility. Students have the opportunity to work closely with the medical school faculty, take a deep dive into AI, and co-author a research paper. We expect students to have:
            ul
              li Medical knowledge / clinical experience (candidates have taken step 1 and/or completed at least some clinical rotations)
              li Knowledge of deep learning and machine learning at a conceptual level.
              li Students are expected to be able to dedicate 10-20 hours per week and attend 2 research meetings per week. Students can sign up for research credits (MED 199, MED 399 etc).
  section.gray
    .container
      .row
        .col-md-4.col-md-offset-4
          h4 Past Bootcamp Cohorts
          ul.list-inline
            li
              a(href="/programs/aihc-bootcamp-fall2018") Fall 2018-2019
            li
              a(href="/programs/aihc-bootcamp-spring2018") Spring 2017-2018
            li
              a(href="/programs/aihc-bootcamp-winter2018") Winter 2017-2018
            li
              a(href="/programs/aihc-bootcamp-fall2017") Fall 2017-2018
        .col-md-4
          h4 Past Bootcamp Projects
          ul.list-inline
            li
              a(href="/projects/chexnet") CheXNet
            li
              a(href="/projects/mura") MURA
            li
              a(href="/projects/chexnext") CheXNeXt
            li
              a(href="/projects/mrnet") MRNet
  section.bg-primary
    .container
      .row
        .col-md-8.col-md-offset-4
          h2 We invite you to join the AI revolution in healthcare
          a.btn.btn-lg.btn-default(href="https://goo.gl/forms/lZf5HN2yq6WBquVn2") Apply Now
