extends ../../layout

block description
  meta(name='description', content='AI for Healthcare Bootcamp')

block extrascripts
include ../../includes/profile
include ../../includes/people

block content
  section#header
    .container
      .row
        .col-lg-9
          img#aihc_headline(src="/programs/aihc-bootcamp.svg")
  section.gray
    .container
      .row
        .col-sm-12
            h2 AIHC Bootcamp
            p 
              | The AI for Healthcare Bootcamp offers Stanford students an unique chance to engage in advanced research at the intersection of AI and healthcare. Students collaborate closely with Postdocs, PhD students from Professor Andrew Ng's lab, the AIMI Center, and  faculty members in medicine.  We are proud to share that our bootcamp alumni have pursued PhD programs at institutions including MIT, Stanford, UW; led industry efforts at Google Brain, Apple Health, Microsoft Research, Tesla AI; and started AI startups including Valar Labs and Wispr AI. Learn more about the history of AIHC bootcamp 
              a(href="https://stanfordmlgroup.github.io/projects/aihc/") here
              | .
            h3 Prerequisites and Commitment
            p The bootcamp is suited for students who have taken machine learning and software engineering courses. Students will be able to apply and sharpen these skills, developing machine learning solutions to challenging problems with the mentorship of postdocs and PhD students and in collaboration with medical faculty. Students have the opportunity to take a deep dive into healthcare and co-author a research paper. We expect students to:
            ul
              li Preferably have experience working on deep learning projects
              li Consider the bootcamp as their primary academic engagement and dedicate 25 hours per week. We have preference over students who can commit for two quarters or more. We encourage students to sign up for research credits (CS 199, CS 399, etc).
              li Have taken at least one of CS229, CS230, CS224N, CS231N, or equivalent
              //li Have proficiency in software engineering (CS106B or equivalent), computer systems (CS107 or equivalent), and have done Python programming.
              
      .row
        .col-sm-12
          h3 Teaching Team
          div(class="clearfix")
            +dp('Jeya Maria Jose', 'postdoc', false, use_compact)
            +dp('Yixing Jiang', 'phd', false, use_compact)
            +dp('Jeremy Irvin', 'phd', false, use_compact)
            +dp('Andrew Ng', 'prof', false, use_compact)
      .row 
        .col-sm-12
          h3 Applications
          div(class="clearfix")
              p Applications for the Winter+Spring 2023-2024 bootcamp are now open.
              //- p Applications for Fall 2023 is closed. Please check back in Winter/Spring 2024 for the next application cycle.
              ul
                li Regular Applications due Dec 6th, 2023 at 11:59p PST. 
                li Late Applications due Dec 27th, 2023 at 11:59p PST. Apply early to give yourself enough time to prepare for the interview.
                li Rolling interviews and selections through Jan 5th, 2024.
                li Bootcamp starts Jan 8th, 2024.
              a.btn.btn-lg.btn-default(href="https://forms.gle/8k3jL9S1jJ7Xx8iQ9") Apply Now


      .row
        .col-sm-12
          h3 Previous Projects
          div(class="clearfix")
          ul.list-inline
            li
              a.btn(href="https://arxiv.org/abs/2102.10663") MedAug
            li
              a.btn(href="https://arxiv.org/abs/2106.04452") 3KG
            li
              a.btn(href="https://arxiv.org/abs/2102.11467") VisualCheXbert
            li
              a.btn(href="https://arxiv.org/abs/2102.10484") CheXseg
            li
              a.btn(href="https://arxiv.org/abs/2102.08660") CheXternal
            li
              a.btn(href="https://arxiv.org/abs/2101.06871") CheXtransfer
            li
              a.btn(href="https://arxiv.org/abs/2010.15269") GloFlow
            li
              a.btn(href="https://arxiv.org/abs/2010.05352") MoCo-CXR
            li
              a.btn(href="https://arxiv.org/abs/2011.06129") CheXphotogenic
            li
              a.btn(href="https://arxiv.org/abs/2004.09167") CheXbert
            li
              a.btn(href="https://stanfordmlgroup.github.io/competitions/chexphoto/") CheXphoto
            li
              a.btn(href="https://www.nature.com/articles/s41746-020-00322-2") CheXaid
            li
              a.btn(href="/projects/chexpedition") CheXpedition
            li
              a.btn(href="https://arxiv.org/abs/1911.07372") HCC/CC
            li
              a.btn(href="https://jamanetwork.com/journals/jamanetworkopen/fullarticle/2735471") HeadXNet
            li
              a.btn(href="/projects/chexnext") CheXNeXt
            li
              a.btn(href="/projects/mrnet") MRNet
            li
              a.btn(href="/projects/chexnet") CheXNet
            li
              a.btn(href="/projects/mura") MURA
      .row
        .col-sm-12
          h3 Collaborating Faculty
          div(class="clearfix")
          +alumni_inside('medical_faculty')
  section
    .container
      .row
        .col-sm-12
          h3 Teaching Team Alumni
          div(class="clearfix")
            +dp('Pranav Rajpurkar', '')
            +dp('Anand Avati', '', '')
  section.gray
    .container
      .row
        .col-sm-12
          h2 Bootcamp Cohorts
          +alumni('hcfall2023')
          +alumni('hcsummer2023')
          +alumni('hcspring2023')
          +alumni('hcwinter2022')
          +alumni('hcfall2021')
          +alumni('hcspring2021')
          +alumni('hcwinter2021')
          +alumni('hcfall2020')
          +alumni('hcsummer2020')
          +alumni('hcspring2020')
          +alumni('winter2020')
          +alumni('fall2019')
          +alumni('spring2019')
          +alumni('winter2019')
          +alumni('fall2018')
          +alumni('summer2018')
          +alumni('spring2018')
          +alumni('winter2018')
          +alumni('fall2017')
      .row
        .col-sm-12

   
