extends ../../layout

block title
  title AI For Healthcare Bootcamp Winter 2018

block description
  meta(name='description', content='Accelerated learning at the intersection of AI and healthcare.')

block extrascripts
include ../../includes/profile


block content
  section#header
    .container
      .row
        .col-lg-9
          img(src="/programs/aihc-bootcamp-winter2018/img/headline.svg", style="max-width: 600px; margin: 0px; padding: 0px;")
  section.gray
    .container
      .row
        .col-sm-4
          h3 Teaching Team
          +dp('Pranav Rajpurkar', 'phd', false, true)
          +dp('Anand Avati', 'phd', false, true)
          +dp('Jeremy Irvin', 'ms', false, true)
          +dp('Ken Jung', 'Research Scientist', false, true)
          +dp('Andrew Ng', 'prof', false, true)
          +dp('Nigam Shah', 'prof', false, true)
          +dp('Matt Lungren', 'prof', false, true)
          +dp('Curt Langlotz', 'prof', false, true)
          +dp('Jeanne Shen', 'prof', false, true)
          .clearfix
          h4 Teaching Assistants
          +dp('Aarti Bagul', 'ms', false, true)
          +dp('Nicholas Bien', 'bs', false, true)
          +dp('Shubhang Desai', 'bs', false, true)
          +dp('Tanay Kothari', 'bs', false, true)
          +dp('Katie Shpanskaya', 'Medical Student', true, true)
        .col-sm-8
          h2 Description
          p Over the course of Winter Quarter 2018, our bootcamp covers a large breadth of topics at the intersection of artificial intelligence and healthcare. Students take a dive into cutting-edge research with medical imaging and electronic health record data, working closely with Ph.D. students and each other.
          .section-heading
            h1 Students
          .col-sm-10.col-sm-offset-1
            .row
              +dp('Allison Park', 'ms')
              +dp('Atli Kosson', 'ms')
              +dp('Chris Lin', 'ms')
              +dp('Henrik Marklund', 'ms')
              +dp('Jessica Wetstone', 'ms')
              +dp('Suvadip Paul', 'ms')
              //- Bachelors students, alphabetical order
              +dp('Andrew Huang', 'bs')
              +dp('Erik Jones', 'bs')
              +dp('Matthew Sun', 'bs')
              +dp('Michael Bereket', 'bs')
              +dp('Norah Borus', 'bs')
              +dp('Thao Nguyen', 'bs')

