extends ../../layout

block title
  title AI For Healthcare Bootcamp Spring 2018

block description
  meta(name='description', content='Accelerated learning at the intersection of AI and healthcare.')

block extrascripts
include ../../includes/profile


block content
  section#header
    .container
      .row
        .col-lg-9
          img(src="/programs/aihc-bootcamp-spring2018/img/headline.svg", style="max-width: 600px; margin: 0px; padding: 0px;")
  section.gray
    .container
      .row
        .col-sm-4
          h3 Teaching Team
          +dp('Pranav Rajpurkar', 'phd', false, true)
          +dp('Anand Avati', 'phd', false, true)
          +dp('Jeremy Irvin', 'ms', false, true)
          +dp('Tony Duan', 'ms', false, true)
          +dp('Andrew Ng', 'prof', false, true)
          +dp('Nigam Shah', 'prof', false, true)
          +dp('Matt Lungren', 'prof', false, true)
          +dp('Curt Langlotz', 'prof', false, true)
          +dp('Jeanne Shen', 'prof', false, true)
          +dp('Sanjay Basu', 'prof', false, true)
          +dp('Robyn Ball', 'Senior Biostatistician', false, true)
          +dp('Bhavik Patel', 'prof', false, true)
          +dp('Adam Miner', 'Instructor', false, true)
          +dp('Kristen Yeom', 'prof', false, true)
          .clearfix
        .col-sm-8
          h2 Description
          p Over the course of Spring Quarter 2018, our bootcamp covered a large breadth of topics at the intersection of artificial intelligence and healthcare. Students took a dive into cutting-edge research in radiology, pathology, EHR, mental health and public health, working closely with Ph.D. students and each other.
          h2 Students
          .row
            .col-sm-10.col-sm-offset-1
              //- Masters students, alphabetical order
              +dp('Chris Chute', 'ms')
              +dp('Chris Lin', 'ms')
              +dp('Meng Zhang', 'ms')
              +dp('Kelly Shen', 'ms', true)
              +dp('Silviana Ciurea Ilcus', 'ms')
              +dp('Yifan Yu', 'ms')
              //- Bachelors students, alphabetical order
              +dp('Andrew Huang', 'bs')
              +dp('Behzad Haghgoo', 'bs')
              +dp('Ben Cohen-Wang', 'bs', true)
              +dp('Joe Lou', 'bs')
              +dp('Matthew Sun', 'bs')
              +dp('Michael Ko', 'bs')
              +dp('Nidhi Manoj', 'bs')
              +dp('Philip Hwang', 'bs')
              +dp('Robin Cheong', 'bs')
              +dp('Thao Nguyen', 'bs')
              .clearfix
              p Team Leads
              //- Masters students, alphabetical order
              +dp('Allison Park', 'ms')
              +dp('Henrik Marklund', 'ms')
              +dp('Jessica Wetstone', 'ms')
              +dp('Suvadip Paul', 'ms')
              //- Bachelors students, alphabetical order
              +dp('Erik Jones', 'bs')
              +dp('Michael Bereket', 'bs')
              .clearfix
