extends ../../layout

block title
  title AI For Healthcare Bootcamp Fall 2017

block description
  meta(name='description', content='Accelerated learning at the intersection of AI and healthcare.')

block extrascripts
include ../../includes/profile


block content
  section#header
    .container
      .row
        .col-lg-9
          img(src="/programs/aihc-bootcamp-fall2017/img/headline.svg", style="max-width: 600px; margin: 0px; padding: 0px;")
  section.gray.features
    .container
      .row
        .col-md-7
          h2 Description
          p Over the course of Fall Quarter 2017, our bootcamp covered a large breadth of topics at the intersection of artificial intelligence and healthcare. Students took a dive into cutting-edge research with medical imaging and Electronic Health Record data, working closely with Ph.D. students and each other.
          h1 Organizers
          +dp('Anand Avati', 'phd')
          +dp('Pranav Rajpurkar', 'phd')
          +dp('Jeremy Irvin', 'ms')
          +dp('Andrew Ng', 'prof')
          +dp('Nigam Shah', 'prof')
        .col-md-5
          img(src="/programs/aihc-bootcamp-fall2017/img/team.jpg")
  section.features
    .container
      .row
        .col-lg-12.text-center
          .section-heading
            h1 Students
      .row
        +dp('Aarti Bagul', 'ms')
        +dp('Brandon Yang', 'bs')
        +dp('Daisy Ding', 'ms')
        +dp('Hershel Mehta', 'ms')
        +dp('Kaylie Zhu', 'bs')
        +dp('Tony Duan', 'ms')
